<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!--this is the class name full class name(service class)-->
      <service name="WCF_Demo.service" behaviorConfiguration="sb">
        <endpoint address="http://localhost:8999/myservice"
                  binding="basicHttpBinding"
                  contract="WCF_Demo.iservice" />
        <endpoint address="net.tcp://localhost:9811/myservice"
                  binding="netTcpBinding"
                  contract="WCF_Demo.iservice" />
      </service>
    </services>
    <!-- this is for wsdl metadata -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="sb">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9999/wsdl"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>